<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add xdt:Transform="Insert"
			name="JgsmDataSecure"
			providerName="System.Data.SqlClient"
			connectionString="Server=jgsm-sql01;Database=JGSMDataSecure;Trusted_Connection=True;Application Name=[Johnson Headshot client];"
		/>
	</connectionStrings>
</configuration>