<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="oits.dbmap" type="Oits.Configuration.DbMap.DbMapSection, Oits.Configuration, PublicKeyToken=3f0bb21531201ce0" allowDefinition="Everywhere" allowLocation="true" />
		<section name="johnson.fileOperations" type="Johnson.ProfilePhotoHopper.Configuration.FileOperationSection, Johnson.ProfilePhotoHopper" allowDefinition="Everywhere" allowLocation="true" />
		<section name="johnson.execEd.fileRecognizer" type="Johnson.ProfilePhotoRecognizer.ExecEd.Configuration.FileRecognizerConfigurationSection, gm_JohnsonProfilePhotoRecognizer.ExecEd" allowDefinition="Everywhere" allowLocation="true" />
		<section name="johnson.jgsmFaculty.fileRecognizer" type="Johnson.ProfilePhotoRecognizer.JgsmFaculty.Configuration.FileRecognizerConfigurationSection, JgsmFacultyRecognizer" allowDefinition="Everywhere" allowLocation="true" />
	</configSections>

	<connectionStrings>
		<clear />
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>

	<johnson.fileOperations path="\\files.cornell.edu\ccb\shared\JGSM-Web-Pickup\Headshot\Johnson">
		<fileOperations>
			<clear />
			<add name="execEd" typeName="Johnson.ProfilePhotoRecognizer.ExecEd.ExecEdRecognizer" assembly="gm_JohnsonProfilePhotoRecognizer.ExecEd.dll" />
			<add name="faculty" typeName="Johnson.ProfilePhotoRecognizer.JgsmFaculty.JgsmFacultyRecognizer" assembly="JgsmFacultyRecognizer.dll" />
		</fileOperations>
	</johnson.fileOperations>

	<johnson.execEd.fileRecognizer>
		<recognizer regexMask="^(?&lt;sfId&gt;(\\w{15,18}))_execed$" sfIdCaptureName="sfId" destination="\\files.cornell.edu\ccb\shared\JGSM-Web-Pickup\Headshot\Johnson\Faculty\ExecEd" />
	</johnson.execEd.fileRecognizer>
	<johnson.jgsmFaculty.fileRecognizer>
		<recognizer groupName="jgsmFaculty.fileRecognizer" commandName="GetJsFaculty" resultName="GetJsFaculty" netIdExpression="^(.*_+)?(?&lt;netId&gt;([a-zA-Z]){2,3}\d{1,4})(_profile)?$" destination="\\files.cornell.edu\ccb\shared\JGSM-Web-Pickup\Headshot\Johnson\Faculty" />
	</johnson.jgsmFaculty.fileRecognizer>

	<oits.dbmap>
		<clear />
		<add name="jgsmFaculty.fileRecognizer" connectionStringName="jgsmFaculty.fileRecognizer">
			<commands>
				<clear />
				<add name="GetJsFaculty" commandType="Text" commandText="select distinct NetId from JS_Person where ( ( 1 = IsFaculty ) and ( Netid is not null ) and ( '' != Netid ) )" />
			</commands>
			<results>
				<clear />
				<add name="GetJsFaculty">
					<add name="NetId" columnName="NetId" dbType="String" />
				</add>
			</results>
		</add>
	</oits.dbmap>
</configuration>