<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
			name="jgsmFaculty.fileRecognizer"
			providerName="System.Data.SqlClient"
			connectionString="Server=Server=Jcb-sql02\MsSql_WebDb;Database=JGSMDataSecure;Trusted_Connection=True;Application Name=[Johnson Headshot client];"
		/>
	</connectionStrings>
	<johnson.jgsmFaculty.fileRecognizer>
		<recognizer xdt:Transform="SetAttributes" destination="\\files.cornell.edu\ccb\shared\JGSM-Web-Pickup\Headshot\Johnson\Faculty" />
	</johnson.jgsmFaculty.fileRecognizer>
</configuration>